h3
{
    font-size: 30px !important;
}

.btn-success:hover
{
    background-color: aquamarine;
}

canvas
{
    animation-name: color-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes color-change
{
    from {box-shadow: 1px 1px 60px rgb(60, 60, 255);}
    to {box-shadow: 1px 1px 60px rgb(65, 168, 65);}
}